.AppForm{
  width: 600px;
  height: 200px;
  background-color: white;
  border: 1px white solid;
  border-radius: 10px;
  box-shadow: 8px 8px 25px grey;
  padding: 20px;
  margin: 20px auto;
  align-items: center;
}

input{
  background-color: white;
  border: 1px white solid;
  border-radius: 10px;
  box-shadow: 8px 8px 25px grey;
  padding: 10px;
  margin-left: 20px;
  margin-top: 10px;
  width: 300px;

}

button{
 float: right;

  background-color: green;
  color: aliceblue;
  border: 1px green solid;
  border-radius: 10px;
  box-shadow: 8px 8px 25px grey;
  padding: 10px;
  width: 100px;
}